<div class="container">
  <footer class="py-5">

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; 2023 {{company_name}}. All rights reserved.
      <a href="http://new.williamston-mi.us/privacy.aspx" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">| Privacy Statement </a>
        <a href="http://new.williamston-mi.us/terms.aspx" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">| Terms Of Use </a>
        <a href="http://new.williamston-mi.us/VisitUs.aspx" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">| Visit Us </a>
      </p>

      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>

    </div>

  </footer>
</div>