<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm" aria-label="Eighth navbar example">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src = "/static/Logo.jpg" alt="" width="30" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          {% if signedIn == true and admin == true %}
          <li class="nav-item">
            <a class="nav-link" href="/job-post-manager">Job Post Manager</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style = "color: blue" href="/#">Application Manager</a> <!–– add link here ––>
          </li>
          {% endif %}
          {% if signedIn == false %}
          <li class="nav-item">
            <a class="nav-link active" id="loginButton", href="/login">Sign In</a>
            <script>
              document.getElementById('loginButton').addEventListener('click', function() {
                  var endpoint = '/login';
                  fetch(endpoint, {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json',
                      },
                  })
                  .then(response => {
                    if (response.redirected) {
                      window.location.href = response.url;
                    }
                  })
                  .catch(error => {
                      console.error('Error:', error);
                  });
              });
            </script>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="signupButton", href="/signup">Sign Up</a>
          </li>
          {% elif signedIn == True %}
          <li class="nav-item">
            <a class="btn btn-primary" id="logoutButton", href="">Log Out</a>
            <script>
              document.getElementById('logoutButton').addEventListener('click', function() {
                  var endpoint = '/logout';
                  fetch(endpoint, {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json',
                      },
                  })
                  .then(response => {
                    if (response.redirected) {
                      window.location.href = response.url;
                    }
                  })
                  .catch(error => {
                      console.error('Error:', error);
                  });
              });
            </script>
          </li>
          {% endif %}
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
<div style="height: 56px"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>